<header class="intro-section">
    <div class="intro-text">
        <h1 class="name">{{ site.data.intro.name }}</h1>
        {% for p in site.data.intro.intro_paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
        <p class="intro-social">
            {% for s in site.data.intro.social_links %}
            <a href="{{ s.href }}">{{ s.text }}</a>{% unless forloop.last %} &nbsp;/&nbsp; {% endunless %}
            {% endfor %}
        </p>
    </div>
    <div class="intro-photo">
        <a href="{{ site.data.intro.headshot_image_full | relative_url }}">
            <img alt="profile photo" src="{{ site.data.intro.headshot_image_circle | relative_url }}" class="hoverZoomLink">
        </a>
    </div>
</header>