<article class="publication">
    <div class="publication-image">
        <img src='{{ include.image | relative_url }}' alt="{{ include.title }}">
    </div>
    <div class="publication-content">
        {% assign first_link = include.links | first %}
        {% if first_link %}
        <a href="{{ first_link.href }}">
            <span class="papertitle">{{ include.title }}</span>
        </a>
        {% else %}
        <span class="papertitle">{{ include.title }}</span>
        {% endif %}
        {% if include.authors_html %}
        <div class="authors">{{ include.authors_html }}</div>
        {% endif %}
        {% if include.note %}<div class="authors"><em>{{ include.note }}</em></div>{% endif %}
        {% if include.venue %}
        <div class="venue"><em>{{ include.venue }}</em></div>
        {% endif %}
        {% if include.links %}
        <div class="paper-links">
        {% for l in include.links %}
        <a href="{{ l.href }}">{{ l.text }}</a>{% unless forloop.last %}&#8196;/&#8201;{% endunless %}
        {% endfor %}
        </div>
        {% endif %}
        {% if include.description %}<p>{{ include.description }}</p>{% endif %}
    </div>
</article>